* {
  font-family: "Microsoft YaHei";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.bg-yellow {
  background: #fa9126;
}
.bg-blue {
  background: #0077f1;
}
.my-button {
  color: #fff;
  margin-left: 10px;
  padding: 0 20px;
  font-size: 20px;
  height: 35px;
  border-color: transparent;
}
ul {
  list-style: none;
}
.header {
  width: 100%;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
}
.header .title {
  background: linear-gradient(180deg, #005cb0 0, #008bc8 80px);
  color: white;
  width: 100%;
  line-height: 50px;
  margin: 0 auto;
  height: 80px;
  padding: 0px 10px;
}
.header .title h2 {
  float: left;
  margin: 0 15px;
  line-height: 80px;
}
.header .title .login-info {
  float: right;
  width: 40%;
}
.header .title .login-info span,
.header .title .login-info button,
.header .title .login-info a {
  line-height: 80px;
  color: white;
  float: left;
  margin: 0 10px;
  padding: 0 10px;
  font-size: 18px;
}
.header .title .login-info button {
  padding: 0 15px;
  outline: none;
  margin: 0;
  background: transparent;
  border: none;
}
.header .title .login-info button:hover {
  background: #005aa0;
}
.header :after {
  content: "";
  display: block;
  clear: both;
}
.header .menu {
  padding: 0 100px;
  width: 100%;
  line-height: 50px;
  margin: 0 auto;
  height: 45px;
  font-size: 16px;
  background: #fff;
}
.header .menu > ul > li {
  float: left;
  padding: 0 25px;
  position: relative;
}
.header .menu > ul > li a {
  color: #4e4e4e;
}
.header .menu > ul > li ul {
  background: #097cd0;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
}
.header .menu > ul > li ul li {
  width: 100%;
  padding: 0 25px;
}
.header .menu > ul > li ul li a:hover {
  background-color: #ff9427;
}
.header .menu > ul > li ul li:hover {
  background-color: #ff9427;
}
.header .menu > ul :hover {
  background: #097cd0;
}
.header .menu > ul :hover a {
  color: white;
  text-decoration: none;
}
.header :after {
  content: "";
  display: block;
  clear: both;
}
p.bottom {
  background: rgba(57, 137, 166, 0.8);
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: #fff;
  margin: 0;
}
/*波形动画以及北京图片*/
div#waterPicture {
  margin-top: 80px;
  position: relative;
  width: 100%;
  height: 600px;
  background: #0282cd ;
}
div#waterPicture .bgPic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 450px;
  z-index: 0;
  background: #0282cd url("../img/list_banner.png");
}
div#waterPicture #wave {
  position: absolute;
  left: 0;
  top: 150px;
  z-index: 1000;
}
.main {
  margin-top: -150px;
}
.main .sub-title {
  width: 95%;
  margin-top: 20px;
}
.main .sub-title .sub-title-top {
  border-bottom: 1px solid #999999;
  padding-bottom: 40px;
}
.main .sub-title .sub-title-top .sub-icon {
  padding-top: 40px;
  width: 171px;
  height: 171px;
  text-align: center;
  background: #0091df;
  box-shadow: 0 0 5px #0282cd;
  border-radius: 5px;
  text-decoration: none;
}
.main .sub-title .sub-title-top .sub-icon span {
  display: block;
  padding: 5px;
  color: #fff;
  font-size: 2em;
}
.main .sub-title .sub-title-top .more-content {
  background: #0077f1;
  float: right;
  color: #fff;
  padding: 5px;
  margin-right: 5px;
}
.main .sub-title .sub-title-top .more-content:hover {
  background: #ff9325;
  text-decoration: none;
}
.main .sub-title ul {
  border-bottom: 1px solid #999;
}
.main .sub-title ul li {
  padding: 5px 0;
}
.main .sub-title ul li a {
  color: #666;
}
.main .sub-title ul li .date {
  float: right;
}
.main .gonggao {
  text-align: center;
  background: #0091df;
  box-shadow: 0 0 5px #0282cd;
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  color: white;
  font-size: 2em;
  margin: 20px 0;
  border-bottom: 1px solid #999999;
}
.poster {
  position: relative;
}
.poster img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}
.poster:after {
  content: "";
  display: block;
  clear: both;
}
.search {
  margin-top: 130px;
  margin-bottom: 30px;
  background: url("../img/list_banner.png");
  width: 100%;
  height: 300px;
  position: relative;
}
.search .button-group {
  position: absolute;
  bottom: 30px;
  right: 150px;
}
.search .search-title {
  padding: 10px 0;
  color: #fff;
  text-align: center;
  margin: 0;
}
.search .search-option {
  height: 200px;
  border: 1px solid #ddd ;
  border-top: none;
  padding-top: 30px;
}
.search .search-option label {
  float: left;
  width: 40%;
  text-align: right;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.search .search-option input {
  float: left;
  width: 50%;
  height: 30px;
  border: 1px solid #0033ff;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 16px;
}
.pro-list table {
  width: 100%;
  text-align: center;
}
