.container{
  width: 90%;
}
.proHeader{
  background:rgba(16,92,178,0.3) url(../img/list_banner.png) no-repeat fixed top;
  height: 80px;
  line-height: 1em;
  font-size: 1.3em;
  padding: 0.6em 0;
  color: #fff;

  >p{
    text-align: center;
  }
}
.left-aside{
  background: #2994FF;
  ul{
    padding-left: 10%;
    >li{
      font-size: 1.2em;
      line-height: 1.2em;
      padding:0.6em .2em 0.6em 0.2em;
      color: white;
      cursor: pointer;
      span{
        display: inline-block;
        padding-right:0.5em;
      }
    }
  }
}